@media screen and (max-width: 1130px) {
  .d-desctop {
    display: none;
  }
  .d-mobile {
    display: block;
  }
  .container {
    padding: 0 50px;
  }

  .modal-section {
    border-radius: 15px;
    padding: 50px 20px 35px;
    .close {
      right: 10px;
      top: 10px;
    }
    .modal-form input {
      margin-bottom: 20px;
    }
    .modal-form button {
      margin-bottom: 10px;
      font-size: 19px;
      line-height: 14px;
      width: 75%;
    }
  }

  .modal-section {
    padding: 54px 20px 28px;
    .close {
      width: 25px;
      height: 25px;
      right: 25px;
      top: 25px;
    }
    .modal-form input {
      margin-bottom: 25px;
    }
    .modal-form button {
      margin-bottom: 25px;
    }
  }
  .nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header {
    background: none;
    flex-direction: column;
    .main_box {
      margin: 100px 0 0;
      max-width: 100%;
    }
  }
  .footer {
    .form-wrapper,
    .social-wrapper {
      max-width: 45%;
    }
  }
  .second{
    .orangestar{
      position: absolute;
      right: 0;
      bottom: 280px;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .second {
    .second-title {
      position: relative;
      .second-heart {
        position: absolute;
        right: 0;
        top: 50%;
        width: 76px;
        transform: translateY(-50%);
      }
    }
  }
  .third {
    .third-list {
      flex-direction: column;
      align-items: center;
    }
    .third-item {
      margin-bottom: 20px;
      flex-direction: row;
      max-width: 100%;
      .item-ava {
        margin-right: 10px;
      }
      .item-name,
      .item-link {
        text-align: left;
      }
    }
  }
  .arrows {
    transform: rotate(90deg);
    left: 0;
    top: -65px;
  }
}
@media screen and (max-width: 750px) {
  .main-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  .container {
    padding: 0 20px;
  }
  .second {
    .item-number {
      max-width: 70px;
      margin-right: 45px;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
    .item-content {
      margin-left: 0;
    }
    .item-content h2 {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    .second-item {
      flex-direction: column;
      margin-bottom: 50px;
    }
    .item-content-list {
      flex-direction: column;
    }
    .second-bg-mobile {
      display: flex;
      justify-content: center;
      margin-top: 80px;
    }
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .header .main_box {
    h1 {
      font-weight: 600;
      font-size: 51px;
      line-height: 61px;
    }
    p {
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
    }
  }
  .second .item-content-list .item-content-item {
    width: 100%;
  }
  .footer .footer-wrapper {
    margin-top: 20px;
  }
  .footer .form-wrapper,
  .footer .social-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .nav .line {
    height: 20px;
    margin: 0 15px;
  }
  .modal-section .modal-helper {
    font-size: 14px;
    line-height: 18px;
  }

  .btn {
    max-width: 205px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px;
  }
  .modal-section {
    max-width: 90%;
  }
  .header {
    .header-date {
      font-size: 24px;
      line-height: 24px;
    }
    .header-title {
      font-size: 46px;
      line-height: 60px;
      margin-bottom: 60px;
    }
    .header-dj {
      width: 90%;
      margin-top: 50px;
    }
    .btn-header::before {
      display: none;
    }
  }
  .second {
    padding-top: 0;

    .second-list {
      margin-top: 60px;
    }
    .second-item .item-num {
      font-size: 51px;
      line-height: 61px;
    }
    .item-content {
      .title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
      }
      .content {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .content-list .content-item {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
      padding-left: 36px;
    }
  }
  .third {
    .third-list {
      margin-top: 50px;
      padding: 0 20px;
    }
    .item-ava {
      margin-bottom: 0;
      .ava {
        width: 160px;
        height: 160px;
      }
      .star {
        width: 60px;
        top: 0px;
        left: -15px;
      }
    }
    .item-name {
      font-size: 25px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 380px) {
  .modal-section {
    max-height: 100vh;
    .modal-form input {
      margin-bottom: 5px;
    }
  }
  .header {
    .header-date {
      font-size: 22px;
      line-height: 22px;
    }
    .header-title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 33px;
    }
  }
  .third {
    .item-name {
      font-size: 20px;
      line-height: 23px;
    }
    .item-ava {
      .ava {
        width: 115px;
        height: 115px;
      }
      .star {
        width: 41px;
        top: 5px;
        left: -5px;
      }
    }
  }
}
